<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose ="1" name="SSD Selector Tool Regression Test Suite">
  <test  name="Automation Test Suite for SSD Selector Tool">
    <classes>
      <class name="hpe.SSDSelectorTool.SSDWorkLoad"/>
      <class name="hpe.SSDSelectorTool.SSDType"/>
      <class name="hpe.SSDSelectorTool.SSDServerType"/>
      <class name="hpe.SSDSelectorTool.SSDDrvCapacity"/>
      <class name="hpe.SSDSelectorTool.SSDInterfaceType"/>
      <class name="hpe.SSDSelectorTool.SSDFormFactorType"/>
      <class name="hpe.SSDSelectorTool.SSDBestAvailPage"/>
      <class name="hpe.SSDSelectorTool.SSDResultsPages"/>
    </classes>
  </test> 
  <test name="Automation Test Suite for Select ALL Option In All Pages">
  <classes>
  <class name="hpe.SSDSelectorTool.SSDSelectAllOption"/>
  </classes>
  </test>
  <test name="Automation Test Suite for MIXED-USE- Workload">
  <classes>
  <class name="hpe.SSDSelectorTool.SSDMixedSelect"/>
  </classes>
  </test>
  <test name="Automation Test Suite for WRITE-INTENSIVE- Workload">
  <classes>
  <class name="hpe.SSDSelectorTool.SSDWriteSelect"/>
  </classes>
  </test>
  <test name="Automation Test Suite for VERY-READ-OPTIMIZED- Workload">
  <classes>
  <class name="hpe.SSDSelectorTool.SSDVROSelect"/>
  </classes>
  </test>
  <test name = "Automation Test for I Know What I Need">
  <classes>
  <class name = "hpe.SSDSelectorTool.SSDIKnowPageTest"/>
  </classes>
  </test>
</suite> 
